*{
  margin: 0%;
  padding: 0%;
}

.navbar{
  padding: 0;
  color: #ffffff;
}

.nav-name{
  height: 50px;
  padding: 10px;
  background-color: #4aaaa5;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-size: 22px;
  margin-left: 250px;
}

.nav{
  padding: 0!important ;
}

.header-center{
  text-align: center;
}

.input-button{
  position: relative;
  bottom: 50px;
  left: 880px;
  padding: 5px 10px;
  background-color: #ee6e73;
  border-radius: 5px;
  color: white;
}

.inline-block{
   display: inline-block;
}

p{
  color:black;
}